<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoleta - Resultado da pesquisa</title>
    <link rel="stylesheet" href="/styles/search.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="page-search-results">
        <header>
            <img src="/assets/logo.svg" alt="Logomarca">
            <a href="/">
                <span></span>
                Voltar para home
            </a> 
        </header>

        <main>
            <h4>
                <strong>6 pontos</strong>encontrados
            </h4>

            <div class="cards">
                <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2018/07/13/10/32/light-bulb-3535435_1280.jpg" alt="Lampadas">
                    <h1>Pessoa/Org.</h1>
                    <h3>Lâmpadas</h3>
                    <p>
                        Cidade, Estado
                        <br/>
                        Rua/Avenida, Bairro
                        <br/>
                        Numero 123
                        <br/>
                    </p>
                </div>

                <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2016/10/22/20/20/battery-1761602_1280.jpg" alt="Pilhas">
                    <h1>Pessoa/Org.</h1>
                    <h3>Pilhas</h3>
                    <p>
                        Cidade, Estado
                        <br/>
                        Rua/Avenida, Bairro
                        <br/>
                        Numero 123
                        <br/>
                    </p>
                </div>

                <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2016/11/23/15/49/bundle-1853667_1280.jpg" alt="Pilhas">
                    <h1>Pessoa/Org.</h1>
                    <h3>Papéis</h3>
                    <p>
                        Cidade, Estado
                        <br/>
                        Rua/Avenida, Bairro
                        <br/>
                        Numero 123
                        <br/>
                    </p>
                </div>

                <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2017/02/08/14/31/computer-2049019_1280.jpg" alt="Pilhas">
                    <h1>Pessoa/Org.</h1>
                    <h3>Eeletrônicos</h3>
                    <p>
                        Cidade, Estado
                        <br/>
                        Rua/Avenida, Bairro
                        <br/>
                        Numero 123
                        <br/>
                    </p>
                </div>

                <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2020/07/12/18/33/dustbin-5398348_1280.jpg" alt="Pilhas">
                    <h1>Pessoa/Org.</h1>
                    <h3>Orgânicos</h3>
                    <p>
                        Cidade, Estado
                        <br/>
                        Rua/Avenida, Bairro
                        <br/>
                        Numero 123
                        <br/>
                    </p>
                </div>

                <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2016/06/05/22/47/abstract-1438382_1280.jpg" alt="Pilhas">
                    <h1>Pessoa/Org.</h1>
                    <h3>Óleo de Cozinha</h3>
                    <p>
                        Cidade, Estado
                        <br/>
                        Rua/Avenida, Bairro
                        <br/>
                        Numero 123
                        <br/>
                    </p>
                </div>

            </div>            
        </main>
    </div>
</body>
</html>